
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-invalid:not(fieldset) {
  border-left: 5px solid #a94442; /* red */
}

.error-msg {
    color: red;
}