
h1 {
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

footer {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
footer .about {
  border-radius: 3px;
  background-color: lightgray;
  padding: 5px 15px;
  text-decoration: none;
  color: gray;
}